.page-header {
    font-size: 1.5em;
    margin-bottom: 5em;
}

.primary-area-spacer {
    margin-bottom: 18em;
}

.medium-area-spacer {
    margin-bottom: 10em;
}

.custom-button {
    background-color: #00B3FF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}
