// Color of the table background.
$table-background-color: #fff;
$table-background-color-dark: transparent;

// Color of the table thead.
$table-thead-color: #ededed;
$table-thead-color-dark: transparent;

html {
    font-size: 18px !important;
}

.header-wrapper {
    font-size: 0.8em;
}

// Theme switch button.
.theme-switch {
    // Match size of other icons.
    font-size: 1.4em;
}

// Page titles.
.single-title {
    // Center titles.
    display: flex;
    align-items: center;
    justify-content: center;
    // Add space after title.
    padding-bottom: 3em;
}
